<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/partials/achievements.css">
    <title>Document</title>
</head>
<body>
    <section class="section achievements-section">
        <div class="container achievements-container">
            <div class="achievements-left">
                <h2 class="achievements-secondary-heading">A task manager you can trust for life</h2>
                <p>We’ve been building Todoist for 15 years and 169 days. <a href="#">We're in it for the long haul.</a></p>
            </div>
            <div class="achievements-right">
                <div class="achievements-achievement-card">
                    <img class="achievements-achievement-img" src="assets/achievement-1.webp" alt="achievement-1">
                    <h3 class="achievements-achievement-heading">300+</h3>
                    <p>App downloads</p>
                </div>
                <div class="achievements-achievement-card">
                    <img class="achievements-achievement-img" src="assets/achievement-2.webp" alt="achievement-2">
                    <h3 class="achievements-achievement-heading">100+</h3>
                    <p>Tasks completed</p>
                </div>
                <div class="achievements-achievement-card">
                    <img class="achievements-achievement-img" src="assets/achievement-3.webp" alt="achievement-3">
                    <h3 class="achievements-achievement-heading">160+</h3>
                    <p>Colleges</p>
                </div>
                <div class="achievements-achievement-card">
                    <img class="achievements-achievement-img" src="assets/achievement-4.webp" alt="achievement-4">
                    <h3 class="achievements-achievement-heading">100+</h3>
                    <p>Pro users</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>