<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/styles/main.css">
    <link rel="stylesheet" href="../../static/styles/partials/feature.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="section feature-section">
      <div class="container feature-container">
          <div class="feature-main-heading">
              <h2 class="feature-secondary-heading">Delightfully simple and deceptively powerful task
                   management</h2>
              <p>millions of  people organize billions of tasks in Taskify for their work, education, and personal life.</p>
          </div>
          <div class="feature-even-column">
              <div class="feature-even-column-left">
                  <div class="feature-features">
                      <img class="feature-img" src="../../static/assets/feature1.webp" alt="feature1">
                      <h3 class="feature-heading">With you everywhere</h3>
                      <p class="feature-text">Use Taskify’s apps, extensions and widgets on any device or platform.</p>
                      <a href="#" class="feature-btn feature-btn">Download apps</a>
                  </div>
                  <div class="feature-features">
                      <img class="feature-img" src="../../static/assets/feature2.webp" alt="feature2">
                      <h3 class="feature-heading">Make Taskify your</h3>
                      <p class="feature-text">Customize your task list with filters, labels, priorities, and more.</p>
                      <a href="#" class="feature-btn feature-btn">See all features</a>
                  </div>
                  <div class="feature-features">
                      <img class="feature-img" src="../../static/assets/feature3.webp" alt="feature3">
                      <h3 class="feature-heading">Productivity Method</h3>
                      <p class="feature-text">Personal productivity recommendations based on your unique traits and strengths.</p>
                      <a href="#" class="feature-btn feature-btn">Take the quiz</a>
                  </div>
              </div>
              <div class="feature-even-column-right">
                  <div class="feature-features">
                      <img class="feature-img" src="../../static/assets/feature4.webp" alt="feature4">
                      <h3 class="feature-heading">There’s a template for that</h3>
                      <p class="feature-text">Hundreds of templates are available to get you started with whatever’s on your plate.</p>
                      <a href="#" class="feature-btn feature-btn">Start with templates</a>
                  </div>
                  <div class="feature-features">
                      <img class="feature-img" src="../../static/assets/feature5.webp" alt="feature5">
                      <h3 class="feature-heading">Connect with your other tool</h3>
                      <p class="feature-text">Link Taskify with your calendar, voice assistant, and 30+ other tools.</p>
                      <a href="#" class="feature-btn feature-btn">Install integrations</a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  </body>
</html>
