<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/partials/footer.css" />
    
    <title>Document</title>
  </head>
  <body>
    <footer class="section footer-section">
        
        <div class="container footer-container">
          <div class="footer-top">
           
        <div class="footer-left-column">
                 <p>Join millions of people who organize work and life with Taskify.</p>
                <ul role="list" aria-label="Social links">
                    
                    <li><a aria-label="facebook" href="#"><img src="assets/facebook.png" class="footer-image" alt="Facebook"></li>
                    <li><a aria-label="youtube" href="#"><img src="assets/youtube.png" class="footer-image" alt="Youtube"></a></li>
                    <li><a aria-label="twitter" href="#"><img src="assets/twitter.png" class="footer-image" alt="Twitter"></a></li>
                    <li><a aria-label="instagram" href="#"><img src="assets/instagram.png" class="footer-image" alt="Instagram"></a></li>
                </ul>
         </div>
            
         <div class="footer-right-column">
            <div class="footer-column">
                <h3 class="footer-heading">FEATURES</h3>
                    <ul aria-label="Footer" role="list">
                        
                        <li><a href="">How It Works</a></li>
                        <li><a href="">For Teams</a></li>
                        <li><a href="">Pricing</a></li>
                        <li><a href="">Templates</a></li>

                    </ul>
            </div>
         <div class="footer-column">
            <h3 class="footer-heading">RESOURCES</h3>
             <ul>
                
                <li><a href="">Download Apps</a></li>
                <li><a href="">Help Center</a></li>
                <li><a href="">Productivity Methods</a></li>
                <li><a href="">Refer a friend</a></li>
                <li><a href="">Integrations</a></li>
                <li><a href="">Channel Partners</a></li>
                <li><a href="">Developer API</a></li>
                <li><a href="">Status</a></li>

             </ul>
         </div>
         <div class="footer-column">
            <h3 class="footer-heading">COMPANY</h3>
            <ul>
                
                <li><a href="">About Us</a></li>
                <li><a href="">We are hiring!</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Press</a></li>
                <li><a href="">Twist</a></li>
                

             </ul>
         </div>
         </div>
        </div>
         <div class="footer-copyright">
          <ul>
            <li style="border-right: 2px solid black"><a href="">Security</a></li>
            <li style="border-right: 2px solid black"><a href="">Privacy</a></li>
            <li><a href="">Terms</a></li>
          </ul>  
         <p class="footer-taskify-inc">© Taskify Inc.</p>

        
    </div>
         </div>
            
        
    </footer>
    
  </body>
</html>