<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/styles/main.css" />
    <link rel="stylesheet" href="../../static/styles/partials/hero.css" />
    
    <title>Document</title>
  </head>
  <body>
    <section class="section hero-section">
      <div class="container hero-container">
        <div class="hero-col-text">
          <div>
            <h1 class="hero-heading">One app to
              replace them all</h1>
              
          </div>
          <div class="hero-desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, explicabo.
          </div>
          
          <input class="hero-input-email"type="email" name="email" id="hero-email" placeholder="Enter your email address">
        
          <a href="#" class="hero-btn">Get Started</a>
        </div>
        
      
          
          <div class="hero-col-img">
              <img class="hero-image" src="../../static/assets/laptop.png" >
          
          </div>

        
       </div>
      
    
      </section>
    
  </body>
</html>
