<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="styles/partials/main.css" /> -->
    <link rel="stylesheet" href="styles/partials/nav.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="container navbar-container">
        <a href="#" class="logo-wrapper">
          <img src="assets/nav_logo.png" alt="logo" class="logo" />
          <h1 class="nav-title">Taskify</h1>
        </a>

        <nav>
          <ul class="nav-items">
            <li><a href="#">Features</a></li>
            <li><a href="#">Templates</a></li>
            <li><a href="#">For Teams</a></li>
            <li><a href="#">Resources</a></li>
            <li><a href="#">Pricing</a></li>
          </ul>
        </nav>
        <div class="nav-buttons">
          <a href="/signup" class="btn1 nav-btn">Sign Up</a>
          <a href="/dashboardd" class="btn2 nav-btn">Log In</a>
        </div>
      </div>
    </header>
  </body>
</html>
