<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/styles/partials/main.css" />
    <link
      rel="stylesheet"
      href="../../../static/styles/partials/dashboard/dashboard-sidebar.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body>
    <section class="sidebar">
      <div class="sidebar-container">
        <div class="sidebar-header">
          <div class="sidebar-logo">
            <img src="../../../static/assets/nav_logo.png" alt="" />
          </div>
          <div class="sidebar-title">Taskify</div>
        </div>
        <div class="sidebar-items">
          <ul>
            <li class="sidebar-list">
              <a href="#">
                <span class="sidebar-icon"
                  ><i class="fa-solid fa-house"></i
                ></span>
                <span class="sidebar-name">Overview</span>
              </a>
            </li>

            <li class="sidebar-list">
              <a href="#">
                <span class="sidebar-icon">
                  <i class="fa-solid fa-chart-simple"></i>
                </span>
                <span class="sidebar-name">Stats</span>
              </a>
            </li>

            <li class="sidebar-list">
              <a href="#">
                <span class="sidebar-icon"
                  ><i class="fa-solid fa-folder-open"></i
                ></span>
                <span class="sidebar-name">Projects</span>
              </a>
            </li>

            <li class="sidebar-list">
              <a href="#">
                <span class="sidebar-icon"
                  ><i class="fa-solid fa-comment"></i
                ></span>
                <span class="sidebar-name">Chat</span>
              </a>
            </li>

            <li class="sidebar-list">
              <a href="#">
                <span class="sidebar-icon">
                  <i class="fa-solid fa-calendar-days"></i>
                </span>
                <span class="sidebar-name">Calendar</span>
              </a>
            </li>
            <div class="bottom-section">
              <li class="sidebar-list">
                <a href="#">
                  <span class="sidebar-icon"
                    ><i class="fa-solid fa-gear"></i
                  ></span>
                  <span class="sidebar-name">Settings</span>
                </a>
              </li>

              <li class="sidebar-list">
                <a href="#">
                  <span class="sidebar-icon">
                    <i class="fa-solid fa-right-from-bracket"></i>
                  </span>
                  <span class="sidebar-name">Log out</span>
                </a>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>
