<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="dashboard-header-navbar">
      <div class="dashboard-navbar-container">
        <nav class="dashboard-navbar-dashboard-navbar">
          <form action="#" class="dashboard-navbar-search-bar">
            <input type="text" placeholder="search" />
            <button type="submit">
              <img
                class="dashboard-navbar-button-img"
                src="/assets/dashboard/search.png"
                alt="search"
              />
            </button>
          </form>
          <div class="dashboard-navbar-dashboard-links">
            <ul class="dashboard-navbar-dashboard-navbar-links">
              <li>
                <a href="#"
                  ><img
                    class="dashboard-navbar-link-img"
                    src="/assets/dashboard/question-mark.png"
                    alt="question-mark"
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img
                    class="dashboard-navbar-link-img dashboard-navbar-bell-icon"
                    src="/assets/dashboard/bell-icon.png"
                    alt="bell-icon"
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img
                    class="dashboard-navbar-link-img dashboard-navbar-profile-icon"
                    src="/assets/dashboard/profile-icon.png"
                    alt="profile-icon"
                /></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
  </body>
</html>
