<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../../../static/styles/partials/dashboard/navbar-dashboard.css" />
  <link rel="stylesheet" href="../../../static/styles/main.css">


</head>

<body>
  <header class="dashboard-header-navbar">
    <div class="dashboard-navbar-container">
      <nav class="dashboard-navbar-dashboard-navbar">
          <form action="#" class="dashboard-navbar-search-bar">
            <button type="submit">
              <i class="fas fa-search"></i>
            </button>
            <input type="text" placeholder="Search" />
          </form>
        <div class="dashboard-navbar-dashboard-links">
          <ul class="dashboard-navbar-dashboard-navbar-links">
            <li>
              <a href="#"><i class="fa-regular fa-circle-question"></i></a>
            </li>
            <li>
              <a href="#" class="dashboard-navbar-bell-icon"><i class="far fa-bell"></i></a>
            </li>
            <li>
              <div class="dashboard-navbar-dropdown">
                <button onclick="myFunction()" class="dashboard-navbar-dropbtn">Lord Voldemort <i class="fa-solid fa-chevron-down"></i></button>
                
                <div id="dashboard-navbar-myDropdown" class="dashboard-navbar-dropdown-content">
                  <a href="#" style="font-size: 16px;">Profile</a>
                  <a href="#" style="font-size: 16px;">Log Out</a>
                </div>
              </div>
            </li>
            <li>
              <a href="#"><i class="fa-regular fa-user dashboard-navbar-link-img dashboard-navbar-profile-icon"></i></a>
            </li>
            
          </ul>
        </div>
      </nav>
    </div>
  </header>
</body>
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("dashboard-navbar-myDropdown").classList.toggle("dashboard-navbar-show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dashboard-navbar-dropbtn')) {
    var dropdowns = document.getElementsByClassName("dashboard-navbar-dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('dashboard-navbar-show')) {
        openDropdown.classList.remove('dashboard-navbar-show');
      }
    }
  }
}
</script>
</html>