* {
  margin: 0;
  padding: 0;
}

:root {
  --clr-main-bg: #fff;
  --clr-light-white: #f0f0f0;
  --clr-lightgrey: #d3d3d3;
  --clr-grey: rgb(177, 177, 177);
  --clr-text: #000;
  --clr-medium-light: rgba(0, 0, 0, 0.6);
  --clr-accent-light: #3bc2e4;
  --clr-accent: #0ca6ec;
  --clr-underline: #83a4ff;
  --clr-box-shadow: rgba(0, 0, 0, 0.25);

  --clr-black-75: rgba(0, 0, 0, 0.75);
  --clr-black-50: rgba(0, 0, 0, 0.5);

  --fw-200: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  --btn-padding: 8px 16px;
  /* --gen-padding: 24px 40px; */
  --gen-padding: 24px 24px;

  --gen-transition: 0.2s ease-in-out;
}

/* .footer-container {
  background-color: #eaf6f6;
  border: 2px;
  padding-top: 50px;
} */
.footer-container {

  flex: 0 0 100% ;
  max-width: 100%;
}

.footer-container ul {
  list-style-type: none;
 
  
}

.footer-top {
  display: flex;
  justify-content: space-around;
  flex: 0 0 100%;
  max-width: 100%;
}

.footer-left-column {
  width: 400px;
}

.footer-right-column {
  display: flex;
  justify-content: space-between;
  /* right: 370px; */
  width: 500px;
}

.footer-image {
  height: 25px;
  margin: 16px 10px;
  border-radius: 50%;
}

.footer-left-column ul {
  display: flex;
}

.footer-right-column ul {
  margin: 0px;
  padding: 0px;
}

.footer-heading {
  margin-bottom: 24px;
}

.footer-column ul li {
  padding-bottom: 16px;
}

.footer-column ul li a {
  text-decoration: none;
}

.footer-column ul li a:hover {
  color: var(--clr-grey);
}

.footer-image:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  margin-bottom: 24px;
}

.footer-copyright ul {
  display: flex;
  list-style: none;
}

.footer-copyright ul li {
  padding: 0 10px;
}

.footer-copyright ul li a {
  text-decoration: none;
  
}

/* .footer-copyright ul li a:hover {
  text-decoration: underline;
} */
/* .footer-copyright ul li a:hover {
  text-decoration: none;
  text-transform: none;
  
} */

.footer-taskify-inc {
  padding: 0 30px;
}
