:root {
  --clr-main-bg: #fff;
  --clr-light-white: #f0f0f0;
  --clr-lightgrey: #d3d3d3;
  --clr-grey: rgb(177, 177, 177);
  --clr-text: #000;
  --clr-medium-light: rgba(0, 0, 0, 0.6);
  --clr-accent-light: #3bc2e4;
  --clr-accent: #0ca6ec;
  --clr-underline: #83a4ff;
  --clr-box-shadow: rgba(0, 0, 0, 0.25);

  --clr-black-75: rgba(0, 0, 0, 0.75);
  --clr-black-50: rgba(0, 0, 0, 0.5);

  --fw-200: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  --btn-padding: 8px 16px;
  --gen-padding: 24px 40px;

  --gen-transition: 0.2s ease-in-out;
}
a {
  text-decoration: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
  background-color: var(--clr-main-bg);
  width: 100%;
  z-index: 20;

}
.navbar-container {
  margin: auto;
  max-width: 1200px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}
.logo-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 2px;
}
.logo {
  width: 25px;
}
.nav-title {
  font-weight: var(--fw-regular);

  font-size: 28px;
}
.nav-items {
  display: flex;
  align-items: center;
  gap: 16px;
  list-style: none;
}
.nav-items li {
  display: inline-block;
  padding: 0 20px;
}
.nav-items li a {
  /* transition: 0.3s all ease 0s; */
  transition: 0.1s all ease 0s;
  color: var(--clr-text);
}
.nav-items li a:hover {
  /* background-color: gainsboro;
  padding: var(--btn-padding);
  border-radius: 5px;*/
  border-bottom: 2px solid #9900f8;
}
.nav-buttons {
  display: flex;
  gap: 24px;
}
.nav-btn {
  cursor: pointer;
  color: var(--clr-main-bg);
  font-size: 18px;
  padding: var(--btn-padding);
  border-radius: 4px;
  white-space: nowrap;
}

.btn1 {
  background-color: #9900f8;
}
.btn2 {
  color: var(--clr-text);
  background-color: var(--clr-lightgrey);
}
