<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    /> -->
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    /> -->
    <link rel="stylesheet" href="styles/main.css" />
    <link
      rel="stylesheet"
      href="/styles/partials/dashboard/dashboard-sidebar.css"
    />
    <link
      rel="stylesheet"
      href="/styles/partials/dashboard/dashboard-cards.css"
    />
    <link
      rel="stylesheet"
      href="/styles/partials/dashboard/navbar-dashboard.css"
    />
    <link rel="stylesheet" href="/styles/partials/dashboard/dashboard.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <header></header>
    <main class="dashboard-main-wrapper">
      <div class="section-col-15">
        <section class="slidebar-section section" id="home">
          <%-include('./partials/dashboard/dashboard-sidebar') %>
        </section>
      </div>
      <div class="section-col-85">
        <section class="navbar-section section" id="dashboard">
          <%-include('./partials/dashboard/navbar-dashboard') %>
        </section>
        <section class="cards-section section" id="dashboard">
          <%-include('./partials/dashboard/dashboard-cards') %>
        </section>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
