/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap");

:root {
  --clr-main-bg: #fff;
  --clr-text: #000;
  --clr-medium-light: rgba(0, 0, 0, 0.6);
  --clr-accent-light: #3bc2e4;
  --clr-accent: #0ca6ec;
  --clr-underline: #83a4ff;
  --clr-box-shadow: rgba(0, 0, 0, 0.25);

  --clr-black-75: rgba(0, 0, 0, 0.75);
  --clr-black-50: rgba(0, 0, 0, 0.5);

  --fw-200: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  --gen-padding: 24px 40px;

  --gen-transition: 0.2s ease-in-out;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: lightgray;
}

::-webkit-scrollbar-thumb {
  background: #9900f8;
  border-radius: 6px;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  background-color: none;
  border: 0;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

/* body.light-theme {
  --clr-main-bg: #f0f0f0;
  --clr-light: #ffe3fe;
  --clr-medium-light: #686868;
  --clr-one: #fff;
  --clr-accent-light: #9900f8;
  --clr-accent: #7d00c9;
  --clr-two: #131313;
  --clr-underline: #83a4ff;
  --clr-box-shadow: rgba(0, 0, 0, 0.25);
}

body.dark-theme {
  --clr-main-bg: #000;
  --clr-light: #ffe3fe;
  --clr-light-two: #ef02ff;
  --clr-medium-light: #b9b9b9;
  --clr-one: #131313;
  --clr-accent-light: #b940c6;
  --clr-accent: #93329e;
  --clr-two: #fff;
  --clr-underline: #83a4ff;
  --clr-box-shadow: rgba(255, 255, 255, 0.25);
} */

body {
  font-family: 'Nunito', sans-serif;
  color: var(--clr-text);
  font-size: 18px;
  background-color: var(--clr-main-bg);
  position: relative;
  z-index: 0;
}

.container {
  margin: auto;
  max-width: 1200px;
  padding: var(--gen-padding);
}
